<div class="d-grid">
  <div class="p-1 bg-light border">

    <div class="row">
      <u><h5>Datos técnicos</h5></u>
    </div>

    <div class="row mt-1">
      <div class="col">
        <i class="fa-solid fa-barcode"></i>
      </div>
      <div id="book_tech_info_isbn" class="col-10" name="book_tech_info_isbn">
        <%=book.isbn || 'No disponible'%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-building"></i>
      </div>
      <div id="book_tech_info_editorial" class="col-10" name="book_tech_info_editorial">
        <%=book.editorial%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-book"></i>
      </div>
      <div id="book_tech_info_format" class="col-10" name="book_tech_info_format">
        <%=book.format%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-ruler-combined"></i>
      </div>
      <div id="book_tech_info_dimensions" class="col-10" name="book_tech_info_dimensions">
        <%=book.dimensions.length%> x <%=book.dimensions.width%> Cms
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div id="book_tech_info_publish_date" class="col-10" name="book_tech_info_publish_date">
        <%=book.publishDate%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-print"></i>
      </div>
      <div id="book_tech_info_issue" class="col-10" name="book_tech_info_issue">
        <%=book.issue%>º edición
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-copy"></i>
      </div>
      <div id="book_tech_info_pages" class="col-10" name="book_tech_info_pages">
        <%=book.pages%> páginas
      </div>
    </div>

    <div class="row">
      <div class="col">
        <i class="fa-solid fa-language"></i>
      </div>
      <div id="book_tech_info_language" class="col-10" name="book_tech_info_language">
        <%=book.language.name%>
      </div>
    </div>

  </div>
</div>
