<div class="modal fade" id="edit_book_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-2">
        <h5 class="modal-title">Editar Libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body my-3">
        <form class="row g-3">

          <div class="input-group mb-2">
            <label for="edit_book_title" class="input-group-text">Título</label>
            <input id="edit_book_title" type="text" name="edit_book_title" class="form-control">
          </div>

          <div class="input-group">
            <div class="form-check">
              <input id="edit_book_author_known" class="form-check-input" type="radio" name="edit_book_author">
              <label for="edit_book_author_known" class="form-check-label">
                Autor conocido
              </label>
            </div>
            <div class="form-check">
              <input id="edit_book_author_anonymous" class="form-check-input" type="radio" name="edit_book_author">
              <label for="edit_book_author_anonymous" class="form-check-label">
                Autor anónimo
              </label>
            </div>
            <div class="form-check">
              <input id="edit_book_author_multiple" class="form-check-input" type="radio" name="edit_book_author">
              <label for="edit_book_author_multiple" class="form-check-label">
                Varios autores
              </label>
            </div>
          </div>

          <div class="input-group mb-2">
            <label for="edit_book_author_name" class="input-group-text">Nombre del Autor</label>
            <input id="edit_book_author_name" type="text" name="edit_book_author_name" class="form-control">
          </div>

          <div class="input-group mb-4">
            <label for="edit_book_location" class="input-group-text">Sede de depósito</label>
            <select id="edit_book_location" name="edit_book_location" class="form-select">
              <% locations.forEach(function (location,i) { %>
                <option <% if (i==0) { %> selected <% }%> value="<%=location.id%>"><%= location.name%></option>
              <% }) %>
            </select>
          </div>


          <div class="input-group mb-2">
            <label for="edit_book_category" class="input-group-text">Género</label>
            <select id="edit_book_category" name="edit_book_category" class="form-select">
              <% categories.forEach(function (e,i) { %>
                <option value="<%= e.id%>"><%= e.name%></option>
              <% }) %>
            </select>
          </div>

          <% categories.forEach(function (category,i) { %>
            <div class="input-group mb-2" style="display: none">
              <label for="edit_book_subcategory" class="input-group-text"><%= category.name%></label>
              <select id="edit_book_subcategory" name="edit_book_subcategory" class="form-select">
                <%
                  var filteredSubcategories = subcategories.filter(function (subcategory,i) {
                    return (subcategory.parent == category.id)
                  })
                %>
                <% filteredSubcategories.forEach(function (subcategory,i) { %>
                  <option <% if (i==0) { %> selected <% }%> value="1"><%= subcategory.name%></option>
                <% }) %>
              </select>
            </div>
          <% }) %>

          <div class="input-group">
            <label for="edit_book_language" class="input-group-text">Idioma</label>
            <select id="edit_book_language" class="form-select" name="edit_book_language">
              <% languages.forEach(function (language,i) { %>
                <option <% if (i==0) { %> selected <% }%> value="1"><%= language.name%></option>
              <% }) %>
            </select>
            <label for="edit_book_isbn" class="input-group-text">ISBN</label>
            <input id="edit_book_isbn" type="text" name="edit_book_isbn" class="form-control">
          </div>

          <div class="input-group">
            <label for="edit_book_editorial" class="input-group-text">Editorial</label>
            <input id="edit_book_editorial" type="text" name="edit_book_editorial" class="form-control">
          </div>

          <div class="input-group">
            <label for="edit_book_format" class="input-group-text">Formato</label>
            <input id="edit_book_format" type="text" name="edit_book_format" class="form-control">
            <label for="edit_book_dimensions" class="input-group-text">Dimensiones</label>
            <input id="edit_book_dimensions_length" type="number" class="form-control" placeholder="Alto">
            <span class="input-group-text">x</span>
            <input id="edit_book_dimensions_width" type="number" class="form-control" placeholder="Ancho">
            <span class="input-group-text">Cms</span>
          </div>

          <div class="input-group">
            <label for="edit_book_publish_date" class="input-group-text">Año de Publicación</label>
            <input id="edit_book_publish_date" type="number" class="form-control">
            <label for="edit_book_issue" class="input-group-text">Nº de Edición</label>
            <input id="edit_book_issue" type="number" class="form-control">
            <label for="edit_book_pages" class="input-group-text">Nº de Páginas</label>
            <input id="edit_book_pages" type="number" class="form-control">
          </div>

          <div class="input-group mb-3">
            <label for="edit_book_synopsis" class="input-group-text">Sinopsis</label>
            <textarea id="edit_book_synopsis" class="form-control" rows="4" placeholder="Trata de no superar los 500 caracteres; y haz referencia al libro, no al ejemplar."></textarea>
          </div>

          <div class="mb-4">
            <label for="edit_book_pic_files" class="form-label">
              <u><h6>Imágenes del Libro</h6></u>
            </label>
            <input id="edit_book_pic_files" class="form-control" type="file" multiple>
          </div>

        </form>


      </div>
      <div class="modal-footer p-1">
        <button id="edit_book_delete_button" type="button" class="btn btn-danger" name="edit_book_delete_button">
          Eliminar Libro
        </button>
        <button id="edit_book_save_button" type="button" class="btn btn-primary" name="edit_book_save_button">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
