<div class="modal fade" id="editCollectionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-2">
        <h5 class="modal-title">Modificar Colección</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body my-3">
        <form class="row g-3">
          <div class="input-group mb-4">
            <label for="collectionName" class="input-group-text">Nombre de la Colección</label>
            <input id="collectionName" type="text" name="collectionName" class="form-control">
          </div>
          <div class="mb">
            <label for="collectionPicFile" class="form-label">
              <h6><u>Imagen para la Colección</u></h6>
            </label>
            <input id="collectionPicFile" type="file" name="collectionPicFile" class="form-control">
          </div>
        </form>
      </div>

      <div class="modal-footer p-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="saveChangesCollection" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>

    </div>
  </div>
</div>
