<!-- Términos y Condiciones -->

<div class="row">
  <div class="text-center p-2 mb-2 bg-secondary text-white">Términos y Condiciones</div>

  <div class="list-group list-group-horizontal-xl list-group-flush">
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Condiciones del servicio</a>
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Política de privacidad</a>
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Sobre Pinakes</a>
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Contacto</a>
  </div>
</div>
