<div class="row mt-5 p-1"

  <!-- Términos y Condiciones -->
  <div class="text-center bg-success text-white">Términos y Condiciones</div>

  <div class="list-group list-group-horizontal-xl list-group-flush text-center">
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Para Contactar</a>
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Acuerdos de Servicio y Privacidad</a>
    <a href="#" class="list-group-item list-group-item-action" role="button" data-bs-toggle="button">Sobre Pinakes</a>
  </div>
  
</div>
