<!-- Términos y Condiciones -->

<div class="row">
  <div class="text-center p-2 mb-2 bg-secondary text-white">Términos y Condiciones</div>

  <div class="list-group list-group-horizontal-xl list-group-flush">
    <button type="button" class="list-group-item list-group-item-action">Condiciones del servicio</button>
    <button type="button" class="list-group-item list-group-item-action">Política de privacidad</button>
    <button type="button" class="list-group-item list-group-item-action">Sobre Pinakes</button>
    <button type="button" class="list-group-item list-group-item-action">Contacto</button>
  </div>
</div>
