<!-- Perfil de usuario-->
<div class="p-1 bg-light border">
  <div class="row">
    <div class="col">
      <img id="memberPicFile"  class="img-thumbnail" style="width: 240px; height: 180px" src="<%=member.pic%>">
    </div>
    <div class="col mt-2">
      <div class="row"><i class="fa-solid fa-user-pen"></i>
        <p id="nickname" class="text-primary"><%=member.nickname%></p>
      </div>
      <div class="row"><i class="fa-solid fa-hourglass"></i>
        <p id="clientAge" class="text-primary"><%=member.clientAge%> días</p>
      </div>
      <div class="row">
        <div class="col"><i class="fa-solid fa-book-open"></i>
          <p id="bookNumber" class="text-primary"><%=member.books.length%></p>
        </div>
        <div class="col"><i class="fa-solid fa-map-pin"></i>
          <p id="petitionNumber" class="text-primary"><%=member.petitions.length%></p>
        </div>
      </div>
    </div>
  </div>
</div>
