<div class="modal fade" id="new_petition_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-2">
        <h5 class="modal-title">Crear Petición</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body my-3">
        <form class="row g-3">

          <div class="input-group">
            <label for="new_petition_title" class="input-group-text">Título</label>
            <input id="new_petition_title" type="text" name="new_petition_title" class="form-control">
          </div>

          <div class="input-group">
            <div class="form-check px-3">
              <input id="new_petition_author_known" class="form-check-input" type="radio" name="new_petition_author_known" checked>
              <label for="new_petition_author_known" class="form-check-label">
                Autor conocido
              </label>
            </div>
            <div class="form-check px-3">
              <input id="new_petition_author_anonymous" class="form-check-input" type="radio" name="new_petition_author_anonymous">
              <label for="new_petition_author_anonymous" class="form-check-label">
                Autor anónimo
              </label>
            </div>
            <div class="form-check px-3">
              <input id="new_petition_author_multiple" class="form-check-input" type="radio" name="new_petition_author_multiple">
              <label for="new_petition_author_multiple" class="form-check-label">
                Varios autores
              </label>
            </div>
          </div>

          <div class="input-group mb-2">
            <label for="new_petition_author_name" class="input-group-text">Nombre del Autor</label>
            <input id="new_petition_author_name" type="text" name="new_petition_author_name" class="form-control">
          </div>


          <div class="input-group mb-2">
            <label for="new_petition_category" class="input-group-text">Género</label>
            <select id="new_petition_category" name="new_petition_category" class="form-select">
              <% categories.forEach(function (e,i) { %>
                <option value="<%= e.id%>"><%= e.name%></option>
              <% }) %>
            </select>
          </div>

          <% categories.forEach(function (category,i) { %>
            <div class="input-group mb-2">
              <label for="new_petition_subcategory" class="input-group-text"><%= category.name%></label>
              <select id="new_petition_subcategory" name="new_petition_subcategory" class="form-select">
                <%
                  var filteredSubcategories = subcategories.filter(function (subcategory,i) {
                    return (subcategory.parent == category.id)
                  })
                %>
                <% filteredSubcategories.forEach(function (subcategory,i) { %>
                  <option <% if (i==0) { %> selected <% }%> value="1"><%= subcategory.name%></option>
                <% }) %>
              </select>
            </div>
          <% }) %>

          <div class="input-group mb-3">
            <label for="new_petition_language" class="input-group-text">Idioma</label>
            <select id="new_petition_language" class="form-select" name="new_petition_language">
              <% languages.forEach(function (language,i) { %>
                <option <% if (i==0) { %> selected <% }%> value="1"><%= language.name%></option>
              <% }) %>
            </select>
          </div>

          <div class="input-group mb-4">
            <label class="input-group-text" for="new_petition_shopping_link">
              <i class="fa-brands fa-markdown"></i> Me lo pido
            </label>
            <input id="new_petition_shopping_link" type="text" class="form-control" name="new_petition_shopping_link" placeholder="URL de la oferta">
          </div>

      </div>
      <div class="modal-footer p-1">
        <button id="new_petition_create_button" type="button" class="btn btn-primary" name="new_petition_create_button">
          Crear Petición
        </button>
      </div>
    </div>
  </div>
</div>
