<div class="modal fade" id="newPetitionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Petición</h5>
      </div>
      <div class="modal-body">



        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="input-group">
            <label class="input-group-text" for="title">Título</label>
            <input id="title" type="text" class="form-control">
          </div>

          <div class="input-group mb-4">
            <label class="input-group-text" for="authorName">Autor</label>
            <select id="authorName" class="form-select">
              <option selected>Nombre</option>
              <option>Anónimo</option>
              <option>VV.AA.</option>
            </select>
            <input type="text" class="form-control">
          </div>

          <div class="input-group mb-2">
            <label class="input-group-text" for="category">Género</label>
            <select id="category" class="form-select">
              <% categories.forEach(function (e,i) { %>
                <option value="<%= e.id%>"><%= e.name%></option>
              <% }) %>
            </select>
          </div>

          <% categories.forEach(function (category,i) { %>
            <div class="input-group mb-2" style="display: none">
              <label class="input-group-text" for="subcategory"><%= category.name%></label>
              <select id="subcategory" class="form-select">
                <%
                  var filteredSubcategories = subcategories.filter(function (subcategory,i) {
                    return (subcategory.parent == category.id)
                  })
                %>
                <% filteredSubcategories.forEach(function (subcategory,i) { %>
                  <option <% if (i==0) { %> selected <% }%> value="1"><%= subcategory.name%></option>
                <% }) %>
              </select>
            </div>
          <% }) %>

          <div class="input-group mb-3">
            <label class="input-group-text" for="authorBirthplace">Nacionalidad del Autor</label>
            <select class="form-select" id="authorBirthplace">
              <option selected>Otros</option>
              <option value="1">España</option>
            </select>
            <label class="input-group-text" for="language">Idioma</label>
            <select class="form-select" id="language">
              <% languages.forEach(function (language,i) { %>
                <option <% if (i==0) { %> selected <% }%> value="1"><%= language.name%></option>
              <% }) %>
            </select>
          </div>

          <div class="input-group mb-4">
            <label class="input-group-text" for="shoppingLink">
              <i class="fa-brands fa-markdown"></i>Me lo pido
            </label>
            <input id="shoppingLink" type="text" class="form-control" placeholder="URL de la oferta">
          </div>

          <!-- Botón de submit -->
          <div class="d-grid col-4 mx-auto p-0 border border-secondary border-4">
            <button id="addingPetition" type="submit" class="btn btn-success">
              <h5>Añadir Petición</h5>
            </button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
