<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinakes - <%=book.title%></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/bookProfile.css">
  </head>


  <body>
    <div class="container">
      <!-- Header-->
      <%- include('../partials/header.html', {user: {id: "u1a"}}); %>

      <!-- Parte superior, sobre datos del libro-->
      <div class="row">

        <!-- Columna de la Foto-->
        <div id="bookPicFiles" class="col-3">

          <div class="row mb-1">
            <div class="text-center">
              <img src="<%=book.pic.main%>" class="img-thumbnail" alt="Foto principal">
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <% book.pic.others.forEach(function(e,i){ %>
              <div class="col-4">
                <img src="<%=e%>" class="img-thumbnail w-50" alt="Foto alternativa">
              </div>
              <% }) %>
            </div>
          </div>

        </div>

        <!--Columna con Información del libro-->
        <div class="col-9">
          <div class="row mb-2">

            <div class="col-6">
              <h4 id="title"><%=book.title%></h4>
              <h6 id="authorName"><%=book.author.name%></h6>
            </div>

            <div class="col-4">
              <h5 id="location"><i class="fa-solid fa-location-dot"></i><%=book.location.name%></h5>
            </div>

            <div id="collectionName" class="col-2 g-0">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-light fa-plus"></i>
                  <i class="fa-solid fa-bookmark"></i>
                </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item disabled"><h5>Actualmente en tu Colección "X"</h5></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Libros sin Colección</a></li>
                    <li><a class="dropdown-item" href="#">Colección Y</a></li>
                  </ul>
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <div class="d-grid">
              <div class="p-1 bg-light border">
                <div class="row">
                  <u><h5>Sinopsis:</h5></u>
                  <span id="synopsis"><%=book.synopsis%></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <!-- Columna con los datos técnicos -->
            <div class="col-4">
              <%- include('../partials/bookGridProfile.html', {}); %>
            </div>

            <!-- Navbar de las Reviews -->
            <div class="col-8">
              <div class="row">
                <ul class="nav nav-tabs" id="reviewsNav" role="tablist">
                  <% reviews.forEach(function(e,i){ %>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link <% if (i==0) { %>active<% } %>"
                        id="review<%=i %>-tab"
                        data-bs-toggle="tab" data-bs-target="#review<%=i %>"
                        type="button" role="tab"
                        aria-controls="review<%=i %>" aria-selected="true">
                        Review <%=i %>
                    </button>
                  </li>
                  <% }) %>
                </ul>

                <div class="tab-content mt-2" id="reviewsNavContent">
                  <% reviews.forEach(function(e,i){ %>
                  <div class="tab-pane fade <% if (i==0) { %>show active<% } %>" id="review<%=i %>" role="tabpanel">

                    <div class="review-block">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="<%=e.reviewer.pic%>" class="img-thumbnail">
                          <div class="review-block-name">
                            <a class="text-primary" href="/auth/new"<p><%= e.reviewer.nickname%></p></a>
                          </div>
                          <div class="review-block-date">Hace <%= e.age%> días</div>
                        </div>
                        <div class="col-sm-9">
                          <div class="review-block-rate">
                            <span class="name mb-1 fw-500">Valoración del Libro</span>
                            <div class="rating">
                              <input type="range" value="<%=e.bookRate%>" min="1" max="10" step="0.1" oninput="this.nextElementSibling.value = this.value" disabled>
                              <output><%=e.bookRate%></output>
                              <i class="fa-solid fa-star"></i>
                            </div>
                            <span class="name mb-1 fw-500">Valoración del Ejemplar</span>
                            <div class="rating">
                              <input type="range" value="<%=e.copyRate%>" min="1" max="10" step="0.1" oninput="this.nextElementSibling.value = this.value" disabled>
                              <output><%=e.copyRate%></output>
                              <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="review-block-description mt-2"><%=e.comment%></div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <% }) %>
                </div>

              </div>
            </div>
          </div>
          <!-- Final de la fila Post-Sinopsis-->

        </div>
        <!-- Final de la Columna con información del libro-->

      </div>
      <!-- Final de la Parte superior-->


      <div class="row mt-4">
        <div class="container">
          <div class="bg-success p-1 mb-3 text-white text-center">
            <h4>Sugerencias</h4>
          </div>

          <div class="row">
            <%- include('../partials/booksSuggested.html', {}); %>
          </div>

        </div>
      </div>

      <!-- Footer-->
      <%- include('../partials/footer.html', {}); %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/bookProfile.js"></script>

  </body>
</html>
