<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinakes - <%=member.nickname%></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/member-profile.css">
  </head>


  <body>
    <!-- Header-->
    <%- include('../partials/header.html', {}); %>
    <div class="container">

      <!-- Todo el Contenido, hasta las Sugerencias-->
      <div class="row">

        <!-- Columna Lateral-->
        <div class="col-4">

          <!-- Perfil de usuario-->
          <%- include('../partials/member-basic-info-card.html', {}); %>

          <!-- Mis Colecciones-->
          <div class="p-1 mt-4 bg-success text-white">
            <%- include('../partials/my-collections-accordion.html', {}); %>
          </div>

          <div class="p-1 mt-4 bg-success opacity-75 text-white">
            <!-- Header de Peticiones-->
            <div class="row gx-0">
              <div class="col-10 text-center">
                <h4>Mis Peticiones</h4>
              </div>
              <div class="col-2 text-end">
                <!-- Modal para Crear Petición -->
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#newPetitionModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- Libros en Petición-->
            <div class="row">
              <ul class="list-group">
                <% member.petitions.forEach(function (petition, i) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><strong><%=petition.title %></strong> (<%= petition.author.name %>)</span>
                  <span class="badge bg-success rounded-pill"><%= petition.buylists.length %></span>
                  <!-- Modal para Editar Petición -->
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editPetitionModal">
                    <i class="fa-solid fa-file-signature"></i>
                  </button>
                </li>
                <% }); %>
              </ul>
            </div>
          </div>

        </div>
        <!-- Fin de la Columna Lateral-->


        <!-- Columna Central-->
        <div class="col-8 px-4">

          <!--Sobre el Libro seleccionado-->
          <div class="row mb-4">
            <div class="col-5">
              <div id="selectedBook" class="card">
                <div class="card-header text-center">
                  <p><%=lastBookRead.title%></p>
                  <small class="text-black-50"> (<%=lastBookRead.author.name%>)</small>
                </div>
                <a href="/books/<%=lastBookRead.id%>">
                  <img src="<%=lastBookRead.pic.main%>" class="card-img-top">
                </a>
              </div>
            </div>

            <div class="col-7">
              <%- include('../partials/book-rating-card.html', {}); %>
            </div>
          </div>

          <!--Sobre los Libros de la Colección-->
          <div class="row">
            <div class="bg-success p-1 mb-3 text-center text-white">
              Otros Libros en "<%=lastBookRead.collection.name%>"
            </div>
          </div>

          <div id="otherBooksInCollection" class="row">
            <% lastBookRead.collection.books.forEach(function(e,i) { %>
            <div class="col-4">
              <div class="card text-center">
                <img src="<%=e.pic.main%>" class="card-img-top">
                <div class="card-body">
                  <span><%=e.title%></span>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>

      </div>

      <!--Carrusel de Sugerencias-->
      <div class="row mt-4">
        <div class="container">
          <div class="bg-success p-1 text-white text-center">
            <h4>Sugerencias</h4>
          </div>
          <div class="row">
            <%- include('../partials/suggested-books-carousel.html', {}); %>
          </div>

        </div>
      </div>

    </div>
    <!-- Footer-->
    <%- include('../partials/footer.html', {}); %>

    <!-- Zona para Modals-->
    <%- include('../partials/new-collection-modal.html', {}); %>
    <%- include('../partials/new-petition-modal.html', {}); %>
    <%- include('../partials/edit-petition-modal.html', {}); %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/member-profile.js"></script>

  </body>
</html>
