<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pinakes - <%=user.nickname%>/New Petition</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="/public/css/petitionform.css">
</head>


<body>
  <div class="container">
    <!-- Header-->
    <%- include('../partials/header.html', {}); %>

    <div class="row">
      <form class="row g-3">

        <!-- Datos básicos del Libro -->
        <div class="col">
          <div class="bg-success p-2 text-white">
            <h4>Registro básico</h4>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-text">Título</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Autor</span>
            <select id="inputState" class="form-select">
              <option selected>Nombre</option>
              <option>Anónimo</option>
              <option>VV.AA.</option>
            </select>
            <input type="text" class="form-control">
        </div>

        <!-- Datos extra del Libro -->
        <div class="row py-2">
          <div class="col">
            <div class="bg-success p-2 text-white">
              <h4>Registro avanzado</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="inputState" class="form-label">
            <h5><u>Género</u></h5>
          </label>
          <select id="inputState" class="form-select">
            <% bookCategories.forEach(function (e,i) { %>
              <option value="<%= e.id%>"><%= e.name%></option>
            <% }) %>
          </select>
        </div>


        <% bookCategories.forEach(function (category,i) { %>
          <div class="input-group mb-3" style="display: none">
            <label class="input-group-text" for="inputGroupSelect01"><%= category.name%></label>
            <select class="form-select" id="inputGroupSelect01">
              <%
                var filteredBookSubcategories = bookSubcategories.filter(function (subcategory,i) {
                  return (subcategory.parent == category.id)
                })
              %>
              <% filteredBookSubcategories.forEach(function (subcategory,i) { %>
                <option <% if (i==1) { %> selected <% }%> value="1"><%= subcategory.name%></option>
              <% }) %>
            </select>
          </div>
        <% }) %>


        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Nacionalidad del Autor</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Otros</option>
            <option value="1">Francia</option>
            <option value="2">Reino Unido</option>
            <option value="3">Estados Unidos</option>
            <option value="3">Alemania</option>
            <option value="3">Italia</option>
            <option value="3">Portugal</option>
            <option value="3">Rusia</option>
            <option value="3">Polonia</option>
            <option value="3">Roma Clásica</option>
            <option value="3">Grecia Clásica</option>
          </select>
          <label class="input-group-text" for="inputGroupSelect01">Idioma</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Castellano</option>
            <option value="1">Inglés</option>
            <option value="2">Francés</option>
            <option value="3">Alemán</option>
            <option value="3">Latín</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="basic-url" class="form-label">
            <i class="fa-brands fa-markdown"></i> Me lo pido</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">URL de la tienda</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>

        <!-- Botón de submit -->
        <div class="row mb-3">
          <button type="submit" class="btn btn-primary">Añadir Petición</button>
        </div>
      </form>
    </div>

    <div class="py-3">
      <!-- Footer-->
      <%- include('../partials/footer.html', {}); %>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/public/js/petitionform.js"></script>

</body>
