<div class="modal fade" id="new_collection_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-2">
        <h5 class="modal-title">Nueva Colecci贸n</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body my-2">
        <form class="row g-3">
          <div class="input-group mb-4">
            <label for="new_collection_name" class="input-group-text">Nombre de la Colecci贸n</label>
            <input id="new_collection_name" type="text" name="new_collection_name" class="form-control" required="required">
          </div>
          <div class="input-group mb-3">
            <label for="new_collection_pic" class="input-group-text">Imagen para la Colecci贸n</label>
            <input id="new_collection_pic" type="text" name="new_collection_pic" class="form-control" required="required">
          </div>
        </form>
      </div>

      <div class="modal-footer p-1">
        <button id="new_collection_create_button" type="button" name="new_collection_create_button" class="btn btn-success">
          Crear Colecci贸n
        </button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="/public/js/partials/new-collection-modal.js"></script>
