<!-- Modal como advertencia previa a borrar un libro -->
<div class="modal fade" id="out_of_collection_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header p-2">
        <h5 class="modal-title">Quitar libro de la Colección</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body my-2">
        Desplazarás este libro desde su Colección actual a tus "Libros sin Colección", ¿seguro que quieres hacerlo?
      </div>
      
      <div class="modal-footer p-1">
        <button id="out_of_collection_save_button" type="button" class="btn btn-success" name="out_of_collection_save_button">
          Mover
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/public/js/partials/out-of-collection-modal.js"></script>
