<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.ejs', {}); %>
    <title>Pinakes - Landing</title>
  </head>

  <body>
    <div class="container ">

      <div class="row d-flex justify-content-center">
        <img class="img-fluid w-50 h-50" src="https://cdn-icons-png.flaticon.com/512/6627/6627472.png">
      </div>
      <div class="row mt-4 gx-5">
        <div class="col d-flex justify-content-end">
          <a class="btn btn-success btn-lg" href="/auth/signin" role="button">
            Sign In
          </a>
        </div>
        <div class="col d-flex justify-content-start">
          <a class="btn btn-warning btn-lg text-white" href="/auth/signup" role="button">
            Sign Up
          </a>
        </div>
      </div>

    </div>
  </body>

</html>
