<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.ejs', {}); %>
    <title>Pinakes - Sign Up</title>
  </head>

  <body>
    <div class="container">

      <div class="d-grid m-5">
        <div class="p-2 bg-light border">

          <form class="row mx-5 text-center">
            <h2>Crea tu cuenta</h2>
          	<p>Por favor, rellena los siguientes datos para crear una cuenta en Pinakes:</p>

          	<div class="input-group mt-3">
              <label for="sign_up_nickname" class="input-group-text">
                <i class="fa fa-user"></i>
              </label>
      				<input id="sign_up_nickname" type="text" name="sign_up_nickname" class="form-control" placeholder="Nickname" required>
      			</div>

            <div class="input-group mt-4">
              <label for="sign_up_email" class="input-group-text">
                <i class="fa fa-paper-plane"></i>
              </label>
              <input id="sign_up_email" type="email" class="form-control" placeholder="E-mail" required>
            </div>

            <div class="input-group mt-4">
              <label for="sign_up_password" class="input-group-text">
                <i class="fa fa-lock"></i>
              </label>
              <input id="sign_up_password" type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <div class="form-text text-end mb-3">
              Puede tener entre 8 y 20 caracteres, con letras y/o números; pero no incluir espacios ni caracteres especiales.
            </div>

            <div class="input-group mt-2">
              <label for="sign_up_password_confirmation" class="input-group-text">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
              </label>
              <input id="sign_up_password_confirmation" type="password" class="form-control" placeholder="Confirma tu Contraseña" required>
            </div>

            <div class="input-group my-4">
              <div class="form-check" required="required">
                <input id="terms_acceptance_check" class="form-check-input" type="checkbox" required>
                <label for="terms_acceptance_check" class="form-check-label">
                  Acepto las <a href="#">Condiciones del servicio y Políticas de privacidad</a>
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

            <!-- Botón de SignUp -->
            <div class="d-grid col-5 mx-auto mb-3">
              <button id="sign_up_button" type="submit" class="btn btn-success" name="sign_up_button">
                <h5>Crear</h5>
              </button>
            </div>

            <div class="dropdown-divider mt-4"></div>

          	<div class="text-center mt-1 mb-3">¿Ya tienes una cuenta?
              <a href="/auth/signin">Entra aquí</a>
            </div>

          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/public/js/pages/sign-up.js"></script>

  </body>
</html>
