<!-- Zona para la valoración del libro-->
<div class="row mb-4">
  <div class="p-2 bg-light border">

    <div class="row mt-2 mb-4 ms-2 d-flex justify-content-between">
      <div class="col-auto">
        <span>Valoración del Libro</span>
        <div id="book_rate_bar" class="rating my-1" name="book_rate_bar">
          <input type="range" value="1" min="1" max="10" step="0.5" oninput="this.nextElementSibling.value = this.value">
          <output>1</output>
          <small><i class="fa-solid fa-star"></i></small>
        </div>
        <span>Valoración del Ejemplar</span>
        <div id="copy_rate_bar" class="rating my-1" name="copy_rate_bar">
          <input type="range" value="1" min="1" max="10" step="0.5" oninput="this.nextElementSibling.value = this.value">
          <output>1</output>
          <small><i class="fa-solid fa-star"></i></small>
        </div>
      </div>

      <div class="col-auto me-3">
        <div id="save_review_button" name="save_review_button">
          <button class="btn btn-success send">
            Guardar
          </button>
        </div>
      </div>
    </div>

    <div id="comment_section_text" class="comment-area mt-2 ms-2" name="comment_section_text">
      <h5>Añadir un comentario</h5>
      <textarea class="form-control" rows="5" placeholder="¿Qué opinas del libro?"></textarea>
    </div>

  </div>
</div>

<script type="text/javascript" src="/public/js/partials/others/book-rating-card.js"></script>
