<div>
  <form class="row g-3">
    <div class="input-group">
      <label for="old_password" class="input-group-text">Contraseña actual</label>
      <input id="old_password" type="password" class="form-control" name="old_password" required>
    </div>
    <div class="mb-3">¿Olvidaste la contraseña?
      <a href="#" rel="nofollow" class="nav-a">Contacta aquí</a>
    </div>

    <div class="input-group">
      <label for="new_password" class="input-group-text">Nueva Contraseña</label>
      <input id="new_password" type="password" class="form-control" name="new_password" required>
    </div>
    <div class="form-text mb-3">
      Recuerda, puede tener de 8 a 20 caracteres, con letras y/o números; pero no incluir espacios ni caracteres especiales.
    </div>
    <div class="input-group mb-4">
      <label for="new_password_confirmed" class="input-group-text">Confirma tu Nueva Contraseña</label>
      <input id="new_password_confirmed" type="password" class="form-control" name="new_password_confirmed" required>
    </div>
  </form>

  <button id="change_password_save_button" type="button"
    class="btn btn-success" name="change_password_save_button">
    Guardar
  </button>
</div>

<script type="text/javascript" src="/public/js/partials/others/change-password-tab.js"></script>
