.section-title {
  background-color: green;
  color: white;
  margin-bottom: 1em;
  padding: 0.25em;
  font-size: 1.25em;
  text-align: center;
}

.successful {
  color: green;
  border-color: green;
  border-width: 3px;
}

.erroneous {
  color: red;
  border-color: red;
  border-width: 3px
}
