<div class="row">
  <ul class="nav nav-tabs" role="tablist">

    <% reviews.forEach(function(e,i){ %>
    <li class="nav-item" role="presentation">
      <button class="nav-link <% if (i==0) { %>active<% } %>"
          id="book_review<%=i %>_tab"
          data-bs-toggle="tab" data-bs-target="#book_review<%=i %>"
          type="button" role="tab"
          aria-controls="book_review<%=i %>" aria-selected="true">
          Review <%=i %>
      </button>
    </li>
    <% }) %>
  </ul>

  <div class="tab-content mt-1">
    <% reviews.forEach(function(e,i){ %>
    <div class="tab-pane fade <% if (i==0) { %>show active<% } %>" id="book_review<%=i %>" role="tabpanel">
      <div class="row">

        <div class="col-3 p-0">
          <div class="card text-center">
            <img class="card-img-top mt-1 mx-auto" style="width: 90px; height: 90px" src="<%=e.reviewer.pic%>">
            <div class="card-body">
              <a class="card-title" href="/members/<%=e.reviewer.id%>">
                <p><%= e.reviewer.nickname%></p>
              </a>
              <h8 class="card-text">Escrita a <%= e.addingDate%></h8>
            </div>
          </div>
        </div>

        <div class="col-9">
          <div class="review-block-rate">
            <span class="name mb-1 fw-500">Valoración del Libro</span>
            <div class="rating">
              <input type="range" value="<%=e.bookRate%>" min="1" max="10" step="0.1" oninput="this.nextElementSibling.value = this.value" disabled>
              <output><%=e.bookRate%></output>
              <i class="fa-solid fa-star"></i>
            </div>
            <span class="name mb-1 fw-500">Valoración del Ejemplar</span>
            <div class="rating">
              <input type="range" value="<%=e.copyRate%>" min="1" max="10" step="0.1" oninput="this.nextElementSibling.value = this.value" disabled>
              <output><%=e.copyRate%></output>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="review-block-description mt-2"><%=e.comment%></div>
          </div>
        </div>

      </div>
    </div>
    <% }) %>

  </div>
</div>
