<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.html', {}); %>
    <title>Pinakes - <%=book.title%></title>
  </head>

  <body>
    <!-- Header-->
    <%- include('../partials/others/header.html', {}); %>
    <div class="container">

      <!-- Parte superior, sobre datos del libro-->
      <div class="row mb-4">

        <!-- Columna de la Foto-->
        <div class="col-3">
          <div class="row mb-1">
            <div class="text-center">
              <img src="<%=book.pic%>" id="book_pic_file" class="img-thumbnail" style="width: 240px; height: 320px">
            </div>
            <div class="row mt-4 text-center">
              <h5 id="book_location"><i class="fa-solid fa-location-dot"></i><%=book.location.name%></h5>
            </div>
          </div>
        </div>

        <!--Columna con Información del libro-->
        <div class="col-9">

          <div class="row mb-2">
            <div class="col-8">
              <h5 id="book_title"><strong><%=book.title%></strong></h5>
              <h6 id="book_author_name"><%=book.author.name%></h6>
            </div>

            <div class="col-4 text-end g-0">
              <div class="btn-group" role="group">
                <!-- Sobre la situación actual del libro en Colecciones -->
                <button id="book_present_collection_dropdown" type="button" class="btn btn-success btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-light fa-plus"></i>
                  <i class="fa-solid fa-bookmark"></i>
                </button>
                  <ul class="dropdown-menu">
                    <h5 class="dropdown-item text-muted">Actualmente en
                      <% if (book.collection==null) { %>
                        "Libros sin Colección"
                      } else {
                        book.collection.name</h5>
                      <% } %>
                    <div class="dropdown-divider"></div>
                    <form class="my-1">
                      <div class="form-check">
                        <input id="relocate_book_to_orphan" type="radio" name="relocate_book_to" value="00" class="form-check-input">
                        <label for="relocate_book_to_orphan" class="form-check-label">
                          Libros sin Colección
                        </label>
                      </div>
                      <% member.collections.forEach(function(e,i){ %>
                      <div class="form-check">
                        <input id="relocate_book_to_<%=i%>" type="radio" name="relocate_book_to" value="<%=e.id%>" class="form-check-input"
                          <% if (e.id==book.collection.id) { %>
                            disabled>
                          <% } %>
                        <label for="relocate_book_to_<%=i%>" class="form-check-label">
                          <%=e.name%>
                        </label>
                      </div>
                      <% }) %>
                    </form>
                    <div class="text-end">
                      <button id="relocate_save_button" type="submit" class="btn btn-success btn-sm mt-1" name="relocate_save_button">
                        Mover Libro
                      </button>
                    </div>
                  </ul>

                <!-- Modal para Editar Libro -->
                <button id="edit_book_button" type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#edit_book_modal">
                  <i class="fa-solid fa-file-signature"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="d-grid">
              <div class="p-1 bg-light border">
                <div class="row">
                  <u><h5>Sinopsis:</h5></u>
                  <span id="book_synopsis"><%=book.synopsis%></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <!-- Columna con los datos técnicos -->
            <div class="col-4">
              <%- include('../partials/others/book-tech-info-card.html', {}); %>
            </div>

            <!-- Navbar de las Reviews -->
            <div class="col-8">
              <%- include('../partials/others/list-reviews-navbar.html', {}); %>
            </div>
          </div>

        </div>
        <!-- Final de la Columna con información del libro-->

      </div>
      <!-- Final de la Parte superior-->


      <div class="row">
        <%- include('../partials/others/suggested-books-carousel.html', {}); %>
      </div>

    </div>
    <!-- Footer-->
    <%- include('../partials/others/footer.html', {}); %>

    <!-- Zona para Modals-->
    <%- include('../partials/modals/edit-book-modal.html', {}); %>

    <script type="text/javascript" src="/public/js/pages/book-profile.js"></script>

  </body>
</html>
