<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/others/common-head-components.html', {}); %>
    <title>Pinakes - <%=member.nickname%></title>
  </head>

  <body>
    <!-- Header-->
    <%- include('../partials/others/header.html', {}); %>
    <div class="container">

      <!-- Parte superior, sobre datos del usuario y su último libro-->
      <div class="row mb-4">

        <!-- Columna Lateral-->
        <div class="col-4">

          <!-- Perfil de usuario-->
          <%- include('../partials/others/member-basic-info-card.html', {}); %>

          <!-- Mis Colecciones-->
          <div class="p-1 mt-4 bg-success text-white">
            <%- include('../partials/others/list-collections-accordion.html', {}); %>
          </div>

          <div class="p-0 mt-4 bg-success opacity-75 text-white">
            <!-- Header de Peticiones-->
            <div class="row g-0">
              <div class="col-10 text-center">
                <h4>Mis Peticiones</h4>
              </div>
              <div class="col-2 text-end">
                <!-- Modal para Crear Petición -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new_petition_modal">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>

            <!-- Libros en Petición-->

              <ul class="list-group p-1">
                <% member.petitions.forEach(function (petition, i) { %>
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <strong><%=petition.title %></strong> (<%= petition.author.name %>)
                  </span>
                  <!-- Modal para Editar Petición -->
                  <button id="edit_petition_<%=petition.id%>_button" type="button"
                        class="edit-petition-button btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_petition_modal">
                    <i class="fa-solid fa-file-signature"></i>
                  </button>

                </li>
                <% }); %>
              </ul>
          </div>

        </div>
        <!-- Fin de la Columna Lateral-->


        <!-- Columna Central-->
        <div class="col-8 px-3">

          <!--Sobre el último libro añadido-->
          <div class="row mb-3">
            <div class="col-5">
              <div id="last_book_added_card" class="card text-center" name="last_book_added_card">
                <div class="card-header">
                  <h5><%=lastBookAdded.title%></h5>
                  <h8 class="text-black-50"> (<%=lastBookAdded.author.name%>)</h8>
                </div>
                <div class="card-body">
                  <a href="/books/<%=lastBookAdded.id%>">
                    <img class="img-fluid" style="width: 200px; height: 240px" src="<%=lastBookAdded.pic%>">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-7">
              <%- include('../partials/others/book-rating-card.html', {}); %>
            </div>
          </div>
          <div class="row">
            <%- include('../partials/others/list-reviews-navbar.html', {}); %>
          </div>

        </div>

      </div>
      <!-- Final de la Parte superior-->

      <!--Sobre los Libros de la Colección-->
      <div class="row">
        <div class="section-title">
          Otros Libros en "<%=lastBookAdded.collection.name%>"
        </div>
      </div>

      <div id="last_book_added_collection_others" class="row mb-4" name="last_book_added_collection_others">
        <% lastBookAdded.collection.books.forEach(function(e,i) { %>
        <div class="col-3 mb-3 gy-1">
          <div class="card text-center">
            <a href="/books/<%=e.id%>">
              <img class="img-fluid mt-1" style="width: 180px; height: 240px" src="<%=e.pic%>">
            </a>
            <div class="card-body">
              <h6><%=e.title%></h6>
              <i id="<%=e.id%>_reviewed_star" class="book-reviewed-star fa-solid fa-star"></i>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      <div class="row">
        <%- include('../partials/others/suggested-books-carousel.html', {}); %>
      </div>

    </div>
    <!-- Footer-->
    <%- include('../partials/others/footer.html', {}); %>

    <!-- Zona para Modals-->
    <%- include('../partials/modals/new-book-modal.html', {}); %>
    <%- include('../partials/modals/new-collection-modal.html', {}); %>
    <%- include('../partials/modals/delete-from-collection-modal.html', {}); %>
    <%- include('../partials/modals/move-orphan-book-modal.html', {}); %>
    <%- include('../partials/modals/new-petition-modal.html', {}); %>
    <%- include('../partials/modals/edit-petition-modal.html', {}); %>

    <script type="text/javascript" src="/public/js/pages/member-profile.js"></script>

  </body>
</html>
